{% extends "index.html" %}

{% block title %}
Destinations
{% endblock %}

{% block stylesheet %}
<!-- Mapbox -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block header_nav %}
<nav class="nav-menu d-none d-lg-block">
    <ul>
        <li><a href="/profile">Home</a></li>
        <li><a href="/preference">Preferences</a></li>
        <li class="active"><a href="/destinations">Destinations</a></li>
        <li><a href="/map">Map</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<section>
    <div class="container my-3">
        <h2>Where do you want to go</h2>
        <form action="/destinations" method="POST">
            <div class="mb-3">
                <label class="form-label">State</label>
                
                    
                
                <select name="state" class="form-select" aria-label="Select">
                    
                    <option selected>Select State</option>
                    {% for state in states %}
                    <option value={{state}}>{{ state }}</option>
                    {% endfor %}
                </select>
                
            </div>
            <div class="mb-3">
                <label class="form-label">Label</label>
                <select name="label" class="form-select" aria-label="Select">
                    <option selected>Select Label</option>
                    {% for label in labels %}
                    <option value={{label}}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Recreation</label>
                <select name="recreation" class="form-select" aria-label="Select">
                    <option selected>Select Recreation</option>
                    {% for recreation in recreations %}
                    <option value={{recreation}}>{{ recreation }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Weather</label>
                <select name = "weather" class="form-select" aria-label="Select">
                    <option selected>Select Weather</option>
                    {% for weather in weathers %}
                    <option value={{weather}}>{{ weather }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Budget</label>
                <select name = "budget" class="form-select" aria-label="Select">
                    <option selected>Select Budget Range per day</option>
                    <option value="1"><=1000 </option>
                    <option value="2">>1000</option>
                    
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container text-center my-3 {{visible}}">
        <h2>Recommended Toruist Spots</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tourist Spot</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Label</th>
                    <th scope="col">Recreation</th>
                    <th scope="col">Distance From airport</th>
                    <th scope="col">Search</th>
                </tr>
            </thead>
            <tbody>
                
                {% for spot in similar_spots %}
                <tr>
                   
                    <th scope="row">{{ loop.index }}</th>
                    {% for x in spot %}
            
                        <td>{{ x }}</td>
                    {% endfor %}
                    
                    
                    <td><a href="https://www.google.com/search?q={{spot[loop.index0]}}" type="button" class="btn btn-success">Search</a></td>
                </tr>
                {% endfor %}
                

            </tbody>
        </table>
    </div>
</section>
{% endblock %}

